@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section{
	padding: 60px 0;
}
section .section-title{
	text-align:center;
	color:#01CFCB;
	margin-bottom:50px;
	text-transform:uppercase;
}
#what-we-do{
	background:#ffffff;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #01CFCB !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #01CFCB;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

/* start 1 */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

body {
    /* height: 100%; */
    /* width: 100%; */
    text-align: center;
    background: #f2f2f2;
}

.wrapper {
    display: grid;
    /* margin: 100px 50px auto; */
    margin: 100px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media (max-width: 700px) {
    .wrapper {
        margin: 200px auto;
    }
}

.wrapper .box {
    width: 350px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
}

.wrapper .box .front-face {
    background: #fff;
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
}

.box .front-face .icon {
    height: 80px;
}

.box .front-face .icon i {
    font-size: 65px;
}

.box .front-face span,
.box .back-face span {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.box .front-face .icon i,
.box .front-face span {
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box .back-face {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 30px;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 100%;
    /* padding: 30px; */
    color: #fff;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
    /* background: linear-gradient(-135deg, #01CFCB, #01afac); */
    background: linear-gradient(90deg, rgba(129,34,168,1) 35%, rgba(25,25,112,1) 100%);


    transform: translateY(110px) rotateX(-90deg);
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
}

.box .back-face p {
    margin-top: 10px;
    /* text-align: justify; */
}

.box:hover .back-face {
    opacity: 1;
    transform: rotateX(0deg);
}

.box:hover .front-face {
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
}

@media screen and (max-width:430px) {
    .section-title{
        font-size: 25px;
      }
      .wrapper{
        margin:55px auto;
      }
    
}
.card{
    height: 110px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.card-block{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
/* end 1*/

.services_block{
    width: 100%;
    height: 503px;
    padding: 0 33px;
    background: linear-gradient(90deg, rgba(47,47,77,1) 35%, rgba(69,41,62,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.services_block_title {
    max-width: 842px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.services_block_text {
    font-size: 18px;
    font-weight: 400;
    color: white;
    max-width: 800px;
}
.services_block_button {
    background-color: #191970;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 41px;
    border-radius: 99px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        transform: scale(1.2);
    }
}
.services_block_button_text {
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 0 ;


}
