* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*start header*/
.header {
  height: 70px;
  width: 100%;
  background-image: linear-gradient(to right, #445189, #B99A9E);
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  padding: 0 70px 0 0;
  position: fixed;
    top: 0;
    z-index: 3;
}

.header_left {
width: 50%;
min-width: 190px;
height: 300px;
position: relative;
}
.header_left_background_img {
  object-fit:contain;
  width: 100%;
  margin-top: 68px;
}
.header_left_logo{ 
  position: absolute;
  top: 20px;
  left: 15%;
  width: 40%;
  min-width: 115px;
}

.header_right{
  width: 50%;
  display: flex;
  
}
.header_right_ul{
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
}
.header_right_li_a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.header_right_li_a:hover {
  
}
@media screen and (max-width: 768px) {
  .header {
    padding-right: 30px;
  }
  .header_right_li_a {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .header_left_logo{ 
    left: 30px;
    top: 5px
  }
}
@media screen and (max-width: 400px) {
  .header_right_ul{
    justify-content:space-between;
  }

  .header {
    padding-right: 15px;
  }
  .header_right_ul{
    gap: 16px
  }
}
@media screen and (max-width: 350px) {
  .header_right_li_a {
    font-size: 11px;
  }
}
/*end header*/

/*start footer*/
.footer {
  width: 100%;
  height: 250px;
  position: relative;
  background-color: #FFFCF5;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size:cover;
  gap: 20px;
  overflow: hidden;
}
.footer_background_img1 {
position: relative;
left: -30%;
}
@media screen and (max-width: 920px) {
  .footer_background_img1 {
    width: 100%;
    height: 280px;
    left: 1px;
  }
}
.footer_block {
  position: absolute;
  top: 20px;
  left: 6%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}
.footer_left_logo {
  max-width: 200px;
  min-width: 100px;
  max-height: 120px;
  min-height: 40px; 
}
.footer_button {
  text-decoration: none;
  width: 150px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_button_text{
  font-size: 14px;
  font-weight: bold;
  color: #445189;
}
.copyright_box {
  padding-top: 3px;
  border-top: 2px solid white;
  align-self: flex-end;
}
.copyright_text {
  font-size: 12px;
  color: #445189
}
.footer_right_logo {
  position:absolute;
  bottom: 1px;
  right:1px;
  max-width: 212px;
  min-width: 100px;
  max-height: 600px;
  min-height: 40px; 
  z-index: 1;
}
/*end footer*/
/*Start Home blade*/

.home {
  margin-top: 70px;
  width: 100%;
  height: 100vh;
  background-color: pink;
}


/*End Home blade*/
/*Start Contact blade*/



/*End Contact blade*/


