/*start header*/

body {
  margin: 0;
  padding: 0;
}
.main-navigation {
  /* flex-wrap: nowrap !important; */
  min-width: 320px !important;
}
@media screen and (max-width: 330px) {
  .main-navigation.no-wrap {
    flex-wrap: nowrap !important;
  }
}
.slide-title {
  max-width: 100% !important;
}
.lngg {
  position: absolute;
  bottom: 0;
  left: 1%;
}
.dropdown-menu {
  position: absolute !important;
  left: -28px !important;
  top: 66px !important;
  /* background-color: #444444 !important; */
  background-color: white !important;
  @media screen and (max-width: 701px) {
    left: -103px!important;
  }
}
.dropdown-menu a {
  color: black !important;
}
/* .dropdown-menu a:hover{
  color:#01CFCB;
  background-color:#444444 !important;
} */
.flag {
  min-width: 20px;
}

.btn-secondary {
  padding: 0 !important;
  border-radius: 50% !important;
}
.image_small {
  display: none;
}
.burgerOpenDiv.show {
  background-color: white;
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
}
/* .navbar-header.animated.fadeInUp.navbar-collapse.burgerOpenDiv.collapse.show{
  background-color: rgb(68, 68, 68);
  position: absolute;
  top: 100px;
  right: 0;
  width: 320px;
} */
@media screen and (max-width:991px){
  .burgerOpenDiv.show{
    background: linear-gradient(90deg, rgba(25, 25, 112, 1) 35%, rgba(117, 0, 49, 1) 100%);
    position: absolute;
    top: 100px;
    right: 0;
    width: 320px;
  }
  
}

@media screen and (max-width: 500px) {
  .img_big {
    display: none;
  }
  .image_small {
    display: block;
    max-width: 180px;
  }
  .navbar-header .nav-list .nav-item .a {
    color: #01cfcb !important;
  }
  footer {
    width: 100%;
  }
  .container {
    width: 100%;
    text-align: center;
  }
  .textInfo {
    width: 100% !important;
    text-align: center !important;
  }
}
@media screen and (max-width: 720px) {
  .slide-title span {
    font-size: 35px;
  }
}
/* .language_a{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
} */
a.navbar-brand {
  float: left;
  height: 80px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: orangered;
  font-family: cursive;
  font-weight: 700;
}
nav.main-navigation {
  position: relative;
}
nav.main-navigation ul.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: right;
}
.nav-list li.nav-list-item {
  display: inline-block;
  line-height: 40px;
  margin-left: 30px;
  margin-top: 15px;
}

a.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: #404040;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    pointer-events: auto;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-list li {
  animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  animation-fill-mode: both;
}

.nav-list li:nth-child(1) {
  animation-delay: 0.3s;
}

.nav-list li:nth-child(2) {
  animation-delay: 0.6s;
}

.nav-list li:nth-child(3) {
  animation-delay: 0.9s;
}

.nav-list li:nth-child(4) {
  animation-delay: 1.2s;
}

.nav-list li:nth-child(5) {
  animation-delay: 1.5s;
}

/* Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
/* .header_ul{
  margin-right: 100px;
} */
.logo {
  margin-left: 100px;
  color: #fff !important;
}
.nav-link {
  color: #fff !important;
}

.navbar-toggler {
  background-color: white !important;
  max-width: 45px;
}
/*end header*/

/* a:hover{
  color:#01CFCB!important;
} */
/* .btn:hover {
  cursor: pointer;
  color: white !important;
} */

/* start footer*/
.context-dark,
.bg-gray-dark,
.bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
  color: #ffffff;
}

.nav-list li a:hover:before {
  margin-left: 0;
  /* opacity: 1; */
  visibility: visible;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font:
    900 13px/1 "Lato",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* .nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: .22s ease;
} */
/* end footer*/

/*front.blade */
@import url(//fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800);
.static-slider1 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.static-slider1 h1,
.static-slider1 h2,
.static-slider1 h3,
.static-slider1 h4,
.static-slider1 h5,
.static-slider1 h6 {
  color: #3e4555;
}

.static-slider1 .title {
  font-weight: 700;
  line-height: 56px;
  font-size: 36px;
}

.static-slider1 .title span {
  border-bottom: 3px solid #2cdd9b;
}

@media (max-width: 767px) {
  .static-slider1 .title {
    font-weight: 700;
    line-height: 36px;
    font-size: 24px;
  }
}

.static-slider1 .btn-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.static-slider1 .btn-success-gradiant:hover {
  background: #1dc8cc;
  background: -webkit-linear-gradient(legacy-direction(to right), #1dc8cc 0%, #2cdd9b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#2cdd9b));
  background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
  background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
}

.static-slider1 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

.static-slider1 .text-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

section {
  width: 100%;
  height: 100vh;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  overflow: hidden;
}
.slide-image {
  position: absolute;
  top: -200px;
  left: -200px;
  width: calc(100% + 400px);
  height: calc(100% + 400px);
  background-position: 50% 50%;
  background-size: cover;
}
.slide-title {
  font-size: 4rem;
  line-height: 1;
  max-width: 50%;
  white-space: normal;
  word-break: break-word;
  color: #fff;
  z-index: 100;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
@media (min-width: 45em) {
  .slide-title {
    font-size: 7vw;
    max-width: none;
  }
}
.slide-title span {
  white-space: pre;
  display: inline-block;
  opacity: 0;
}

.slideshow {
  position: relative;
}
.slideshow-pagination {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.3s opacity;
  z-index: 10;
}
.slideshow-pagination-item {
  display: flex;
  align-items: center;
}
.slideshow-pagination-item .pagination-number {
  opacity: 0.5;
}
.slideshow-pagination-item:hover,
.slideshow-pagination-item:focus {
  cursor: pointer;
}
.slideshow-pagination-item:last-of-type .pagination-separator {
  width: 0;
}
.slideshow-pagination-item.active .pagination-number {
  opacity: 1;
}
.slideshow-pagination-item.active .pagination-separator {
  width: 10vw;
}
.slideshow-navigation-button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5rem;
  z-index: 1000;
  transition: all 0.3s ease;
  color: #fff;
}
.slideshow-navigation-button:hover,
.slideshow-navigation-button:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}
.slideshow-navigation-button.prev {
  left: 0;
}
.slideshow-navigation-button.next {
  right: 0;
}

.pagination-number {
  font-size: 1.8rem;
  color: #fff;
  font-family: "Oswald", sans-serif;
  padding: 0 0.5rem;
}

.pagination-separator {
  display: none;
  position: relative;
  width: 40px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
  transition: all 0.3s ease;
}
@media (min-width: 45em) {
  .pagination-separator {
    display: block;
  }
}
.pagination-separator-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transform-origin: 0 0;
}

/* start main.blade 2 */
/* body {
  font-weight: 300;
} */

.ipsType_right {
  text-align: right;
}

.ipsType_center {
  text-align: center;
}

.cInnerContent {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.ipsSpacer_bottom_double {
  margin: 64px 0;
}

.ipsGrid {
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.ipsGrid::before,
.ipsGrid::after {
  display: table;
  content: "";
  line-height: 0;
}

.ipsGrid > [class*="ipsGrid_span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}

.ipsGrid > .ipsGrid_span5 {
  width: 40.4255319149%;
}

.ipsGrid > .ipsGrid_span7 {
  width: 57.4468085106%;
}

.ipsGrid > [class*="ipsGrid_span"] {
  float: left;
  margin-left: 2%;
}

.ipsGrid > [class*="ipsGrid_span"]:first-child {
  margin-left: 0;
}

.feature {
  display: flex;
}

.card {
  margin-bottom: 30px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 1px 1px 5px 1px #cccccc;
  /*   transition: 0.3s; */
}

.featured-image-container .card {
  padding: 10px;
  height: 0;
  padding-bottom: calc(100% - 10px);
}

h2.heading_large {
  font-size: 1.8em;
}

img {
  max-width: 100%;
}

.header-section {
  margin: 200px auto;
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}
/* end main.blade 2 */

.bodyStyle {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.slideContanie {
  height: 650px;
}
@media screen and (max-width: 770px) {
  .slideContanie {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .features .featured-image-container,
  .features .ipsGrid_span7.ipsType_left {
    width: 100%;
  }
  .slideshow-pagination {
    display: none;
  }
}

@media screen and (min-width: 770px) {
  .navbar-cont {
    width: auto !important;
  }
}

/* new design  21.05.2024*/
.new_background {
  margin-top: 97px;
  
  overflow: hidden;
  width: 100%;
  height: auto;
  /* background: rgb(88, 88, 145); */
  /* background: linear-gradient(90deg, rgba(25, 25, 112, 1) 35%, rgba(117, 0, 49, 1) 100%); */
}
.new_header {
  background: linear-gradient(90deg, rgba(25, 25, 112, 1) 35%, rgba(117, 0, 49, 1) 100%);
  height: 96px;
  padding: 0 120px !important  ;
  border-radius: 0 0 12px 12px;
  @media screen and (max-width: 700px) {
    padding: 0 16px !important  ;
  }
}
.new_footer_container {
  color: white;
  background: linear-gradient(90deg, rgba(25, 25, 112, 1) 35%, rgba(117, 0, 49, 1) 100%);
  /* height: 283px; */
  padding: 28px 120px !important  ;
  @media screen and (max-width: 700px) {
    padding: 0 16px !important;
  }
  a {
    color: white !important;
    &:hover {
      text-decoration: underline !important;
    }
  }
}
.footerLast {
  width: 100%;
  border-top: 1px solid white;
  padding: 28px 0;
  text-align: center;
  color: white;
}
@media screen and (max-width: 767px) {
  .new_footer_container {
    padding: 12px 36px !important  ;
  }
  .new_footer_logo_div {
    text-align: center;
  }
}
.new_phone_div {
  display: flex;
  flex-direction: column;
}
.new_header_right_section {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.new_right_section_li {
  padding: 8px 20px;
  border-radius: 99px;
  background-color: none;
}
.new_right_section_li_a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
.new_right_div {
  justify-content: flex-end;
  @media screen and (max-width: 1042px) {
    display: none;
  }
}


.new_main {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 790px;
  min-height: 639px;
  background-image: url("../images/code-origins/Hero-Stack.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.new_main_info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.new_main_info_title {
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
}
.new_main_info_text {
  margin-bottom: 0;
  width: 80%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.new_main_button {
  text-decoration: none;
  width: 130px;
  height: 41px;
  border-radius: 99px;
  background-color: #191970;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.2);
  }
}
.new_main_button_text {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}
@media screen and (max-width: 800px) {
  .new_main_info_title {
    font-size: 30px;
  }
  .new_main_info_text {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .new_main_info {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .new_main_info {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .new_main {
    background-size: left;
  }
 
  .new_main_info_title {
    font-size: 24px;
  }
  .new_main_info_text {
    font-size: 12px;
  }
}

.new_all_content {
  background-color: white;
  width: 100%;
}
.new_posts_div {
  padding:  0;
  background-color: white;
}
.new_info_left {
  background-color: white;
  color: black;
}
.new_posts_main {
  flex-direction: column;
}
.new_color_grey {
  background: linear-gradient(90deg, rgba(206, 206, 225, 1) 35%, rgba(221, 202, 215, 1) 100%);
  .ipsGrid_span5 {
    text-align: left;
  }
}
.new_info_left {
  justify-content: center;
  gap: 80px;
}
.ipsGrid_span5 {
  margin-left: 0 !important;
}
.new_wrap_revers {
  flex-wrap: wrap-reverse !important;
}

@media screen and (max-width: 840px) {
  .new_info_left {
    gap: 15px;
  }
}

@media screen and (max-width: 500px) {
  .ipsSpacer_bottom_double {
    margin: 0;
  }
  .new_posts_div {
    padding:0;
  }
  .ipsGrid_span5 {
    padding: 0 20px;
  }
}

.new_features_block {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 120px;
  margin: 10px 0;
  @media screen and (max-width: 700px) {
    padding: 56px 16px !important  ;
  }
}
.new_features_for_center {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.new_features_left_block {
  text-align: left;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 24px;
}
.new_features_title_info_block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.new_features_title {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: black;
  @media screen and (max-width: 425px) {
    font-size: 20px
  }
}
@media screen and (max-width: 510px) {
  .new_features_title {
    
    text-align: center;
  }
}
.new_features_info {
  color: black;
  font-size: 14px;
  font-weight: 400;
}
.new_features_button_more {
  text-decoration: none;
  width: 130px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191970;
  color: white;
  border-radius: 99px;
  color: white;
  &:hover{
    text-decoration: none;
    transform: scale(1.2);
  }
}
.new_features_button_more_secnd {
  display: none;
}
.new_features_button_more_text {
  color: white;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.new_features_right_block {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
}
.new_features_right_component {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.new_features_right_icon_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  min-width: 80px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(206, 206, 225, 1) 35%, rgba(221, 202, 215, 1) 100%);
}
.new_features_right_icon {
  color: white;
  font-size: 40px;
}
.new_features_right_component_title {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media screen and (max-width: 1024px) {
  .new_features_for_center {
    gap: 15px;
  }
}

@media screen and (max-width: 768px) {
  .new_features_right_block {
    width: 100%;
  }
  .new_features_for_center {
    flex-direction: column;
    align-items: center;
  }
  .new_features_button_more {
    display: none;
  }
  .new_features_title_info_block {
    align-items: center;
  }
  .new_features_info {
    text-align: center;
  }
  .new_features_button_more_secnd {
    width: 130px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191970;
    color: white;
    border-radius: 99px;
  }
 
}
.cooperate_block {
  width: 100%;
  background-color: white;
  padding: 24px 120px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 47px
}
.cooperate_block_title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  @media screen and (max-width: 425px) {
    font-size: 20px
  }
}
.cooperate_block_main {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  @media screen and (max-width: 1074px) {
    width: 100%;
    gap: 16px
  }
}
.cooperate_block_single {
  display: flex;
  justify-content: flex-start;
  align-items:center;
  gap: 24px;
  width: 340px;
}
.cooperate_block_single_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  min-width: 80px;
  height: 80px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(206, 206, 225, 1) 35%, rgba(221, 202, 215, 1) 100%);
}
.cooperate_block_single_text {
  font-size: 16px;
  font-weight: 400;
}
.cooperate_img {
  font-size: 30px;
  color: white
}
@media screen and (max-width:700px) {
  .cooperate_block {
    padding: 24px 16px;
  }
  .cooperate_block_single {
    width: 100%;
  }
}


/* abouth */
.about_block {
  background: linear-gradient(90deg, rgba(70,70,116,1) 35%, rgba(106,61,92,1) 100%);
}
.about_block_title {
  font-size: 48px;
  font-weight: bold;
  color: white;
  padding-bottom: 24px;
  text-transform: uppercase;
}
.about_block_text {
  font-size: 18px;
  font-weight: 400;
  color:white;
}

.about_block_button {
  margin-top: 40px;
  border-radius: 99px;
  width: 130px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191970;
 &:hover {
  text-decoration: none;
  transform: scale(1.2);
 }
}
.about_block_button_div {
  width: 100%;
  @media screen and (max-width: 992px) {
    display: flex;
    justify-content: center;
    align-items:center;
  }
}
.about_block_button_text {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 500;
  &:hover {
    text-decoration: none;
    color: white;
   }
}
.services_our_block{
  padding: 30px 120px;
  width: 100%;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 24px;
  @media screen and (max-width: 700px) {
    padding: 30px 16px
  }
}
.services_our_block_title {
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.services_our_block_info {
  max-width: 1200px;
  font-weight: 400;
  font-size: 18px;
  color: black;
  text-align: center;
}

@media screen and (max-width: 630px){
  .services_our_block_title {
    font-size: 26px;
  }
  .about_block_title{
    font-size: 26px;
  }
  .services_block_title{
    font-size: 26px !important;
  }
}
  
/* burger */
.new_burger_phone_block{
  display: none;
  @media screen and (max-width: 1042px) {
    display: block;
  }
}
.new_menu_burger_block{
  display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start!important;
    width: 377px;
    height: 80vh;
    border-radius: 12px 0 0 12px;
    /* background-color: #5B5B8F; */
    background: linear-gradient(90deg, rgba(25,25,112,1) 35%, rgba(117,0,49,1) 100%);
    opacity: 0.9;
    position:absolute;
    right:0;
    top: 97px;
    padding: 12px 16px;
}
.new_menu_burger_block.active {
  display: flex;
}

.new_burger_phone_button {
  font-size: 36px;
  color: white;
  margin: 0!important;
  padding: 0!important;
}
.new_menu_burger_ul {
  display: flex;
  flex-direction: column;
  text-align: left !important;
  gap: 32px;
  justify-content: center;
}
.new_menu_burger_ul_li_a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  &:hover{
    text-decoration: none;
    color: white;
  }
}
.new_menu_burger_botom_block_title {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.new_menu_burger_botom_block_text {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: white !important;
  &:hover {
    color: white !important;
    text-decoration: none;
    
  }
}
.new_menu_burger_botom_block {
  display: flex;
  flex-direction: column;
  align-items:flex-start !important;
  gap: 10px
}
.new_burger_flag {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.frst_dropdown {
  display: none;
}
@media screen and (max-width: 1042px) {
  .frst_dropdown {
    display: block;
  }
  .secnd_dropdown {
    display: none;
  }
}
.new_footer_radius {
  background: linear-gradient(90deg, rgba(25, 25, 112, 1) 35%, rgba(117, 0, 49, 1) 100%);
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}
.new_center {
  text-align: center!important;
}
.new_error {
  margin-top: 80px;
}
.new_button_erorr {
  width: 130px;
  height: 41px;
}
.new_div_button_error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new_card{
  border-radius: 15px;
  overflow: hidden;
  max-width: 560px;
  max-height: 390px;
  box-shadow: 5px 5px 5px rgba(25, 25, 112, 1);
}