* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*start header*/
.header {
  height: 70px;
  width: 100%;
  /* background-image: linear-gradient(to right, #445189, #B99A9E); */
  background-image: linear-gradient(to right, #445189bf, #B99A9E);
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  padding: 0 70px 0 0;
  position: fixed;
    top: 0;
    z-index: 3;
}

.header_left {
width: 50%;
min-width: 190px;
height: 300px;
position: relative;
}
.header_left_background_img {
  object-fit:contain;
  width: 100%;
  margin-top: 68px;
  margin-top: 70px;
}
.header_left_logo{ 
  position: absolute;
  top: 20px;
  left: 15%;
  width: 40%;
  min-width: 115px;
}

.header_right{
  width: 50%;
  display: flex;
  
}
.header_right_ul{
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
}
.header_right_li_a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.header_right_li_a:hover {
  
}
@media screen and (max-width: 768px) {
  .header {
    padding-right: 30px;
  }
  .header_right_li_a {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .header_left_logo{ 
    left: 30px;
    top: 5px
  }
}
@media screen and (max-width: 400px) {
  .header_right_ul{
    justify-content:space-between;
  }

  .header {
    padding-right: 15px;
  }
  .header_right_ul{
    gap: 16px
  }
}
@media screen and (max-width: 350px) {
  .header_right_li_a {
    font-size: 11px;
  }
}
/*end header*/

/*start footer*/
.footer {
  margin-top: 100px;
  width: 100%;
  height: 250px;
  position: relative;
  background-color: #FFFCF5;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size:cover;
  gap: 20px;
  overflow: hidden;
}
.footer_background_img1 {
position: relative;
left: -30%;
}
@media screen and (max-width: 920px) {
  .footer_background_img1 {
    width: 100%;
    height: 280px;
    left: 1px;
  }
}
.footer_block {
  position: absolute;
  top: 20px;
  left: 6%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}
.footer_left_logo {
  max-width: 200px;
  min-width: 100px;
  max-height: 120px;
  min-height: 40px; 
}
.footer_button {
  text-decoration: none;
  width: 150px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_button_text{
  font-size: 14px;
  font-weight: bold;
  color: #445189;
}
.copyright_box {
  padding-top: 3px;
  border-top: 2px solid white;
  align-self: flex-end;
}
.copyright_text {
  font-size: 12px;
  color: #445189
}
.footer_right_logo {
  position:absolute;
  bottom: 1px;
  right:1px;
  max-width: 212px;
  min-width: 100px;
  max-height: 600px;
  min-height: 40px; 
  z-index: 1;
}
/*end footer*/
/*Start Home blade*/

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_first_image{
  width: 100%;
}
.home_first_text{
  text-transform: uppercase;
  left: 0;
  margin-top: -125px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  color: #ffff;
  font-size: 30px;
}
.home_first_btn{
  width: 200px;
  height: 60px;
  text-align: center;
  color: #445189;
  font-size: 18px;
  background-color: #ffff;
  border: none;
}
.home_first_2_totall{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.home_first_2{
  background-color: white;
  width: 1200px;
  min-width: 300px;
  display: flex;
  align-items: center;
  height: 235px;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  top: -100px;
  z-index: 1;
}
.home_first_2_info{
  width: 72%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home_first_2_info_text_name{
  display: flex;
  gap: 10px;
}





.home_second{
  width: 100%;
  padding: 200px 50px 20px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home_second_title{
  width: 100%;
  text-align: center;
  color: #445189;
  font-size: 30px;
}
.home_second_boxes{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}
.home_second_box{
  width: 30%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
}
.home_second_image{
  padding: 10px;
}
.home_second_image img{
  border-radius: 50%;
}
.home_second_info{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;  
}
.home_second_info_title{
  text-align: center;
  font-size: 30px;
  color: #445189;
}
.home_second_info_text{
  text-align: center;
  color: #79889E;
}
@media screen and (max-width: 950px) {
  .home_second_title h2{
    font-size: 24px;
  }
  .home_second_info_title{
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  .home_second_boxes {
    gap: 30px;
  }

}





.home_third{
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home_third_title{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.home_third_title h2{
  text-align: center;
  text-transform: uppercase;
  color: #445189;
  font-size: 30px;
}
.home_third_title p{
  color: #445189;
  font-size: 20px;
}
.home_third_image{
  display: flex;
  justify-content: center;
}
.home_third_image img{
  width: 50%;
  max-width: 700px;
}
@media screen and (max-width: 950px) {
  .home_third_title h2{
    font-size: 24px;
  }
}


.home_fourth{
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: #F7F7F7;

}
.home_fourth_title{
  width: 100%;
}
.home_fourth_title h2{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #445189;
  font-size: 30px;
}
.home_fourth_boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 35px;
}
.home_fourt_box{
  padding: 10px;
  display: flex;
  gap: 20px;
  min-width: 325px;
  width: 750px;
  background-color: #ffff;
}
.home_fourt_box_img{
  min-width: 200px;
  width: 100%;
}
.home_fourt_box_img img{
  width: 90%;
}
.home_fourt_box_info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home_fourt_box_info_text{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.home_fourt_box_info_text h3{
  color: #445189;
  font-size: 22px;
}
.home_fourt_box_info_text p{
  color: #79889E;
}
.home_fourt_box_aivine{
  color: #EA9DE9;
  font-size: 22px;
}
@media screen and (max-width: 800px) {
  .home_fourth{
    padding: 20px;
  }
  .home_fourth_title h2{
    font-size: 22px;
  }
  .home_fourt_box{
    flex-direction: column-reverse;
  }
  .home_fourt_box_img{
    display: flex;
    justify-content: center;
  }
  .home_fourt_box_img img{
    width: 40%;
  }
  .home_fourt_box_info_text{
    align-items: center;
  }
  .home_fourt_box_aivine{
    display: flex;
    justify-content: center;
  }
}




.home_sixth{
  display: flex;
  padding: 20px;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .home_sixth img{
    width: 80%;
  }
}



.home_seventh{
  padding: 20px 50px;
  width: 100%;
  background-color: #F7F7F7;
}
.home_seventh_title{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.home_seventh_title p{
  align-items: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #445189;
}
.home_seventh_images{
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}
.home_seventh_images img{
  max-width: 400px;
  width: 40%;
  height: fit-content;
}
@media screen and (max-width: 800px) {
  .home_seventh_title p{
    /* font-size: 24px; */
    font-size: 18px;
  }
  .home_seventh_images{
    /* width: 80%; */
    flex-direction: column;
    align-items: center;
  }
  .home_seventh_images img{
    width: 60%;
  }
}





.home_eighth{
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.home_eighth_title{
  width: 100%;
}
.home_eighth_title p{
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #445189;
}
.home_eighth_info{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.home_eighth_boxe{
  width: 30%;
  min-width: 300px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.home_ninth{
  width: 100%;
  padding: 100px 200px;
  display: flex;
  justify-content: center;
}
.home_ninth_image{
  max-width: 1000px;
  width: 100%;
  position: relative;
}
.home_ninth_image img{
  width: 80%;
}
.home_ninth_order_box{
  min-width: 200px;
  min-height: 125px;
  width: 30%;
  background-color:#a1a1a1;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: absolute;
  top: 20%;
  left: 70%;
}
.home_ninth_order_box p {
  text-align: center;
  font-size: 20px;
  color:#1a4c5b;
  align-items:center;
}
.home_ninth_order_box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background-image: linear-gradient(to right, #445189bf, #B99A9E);
  color: #ffff;
  text-decoration: none;
  font-size: 20px;
}
@media screen and (max-width: 950px) {
  .home_eighth_title p{
    font-size: 24px;
  }
  .home_eighth{
    padding: 20px;
  }
  .home_ninth_order_box{
    left: 55%;
  }
  .home_ninth_order_box p {
    font-size: 17px;
  }
  .home_ninth_order_box a {
    /* width: 180px;
    height: 45px; */
    max-width: 180px;
    height: 45px;
    font-size: 18px;
  }
}
@media screen and (max-width: 700px) {
  .home_ninth_image img{
    display: none;
  }
  .home_ninth{
    padding: 20px;
  }
  .home_ninth_order_box{
    left: 0;
    top: 0;
    position: unset;
    width: 400px;
  }
  .home_ninth_image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}




.home_tenth{
  width: 100%;
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.home_tenth_title{
  width: 100%;
}
.home_tenth_title p{
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #445189;
}
.home_tenth_info{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;

}
.home_tenth_info_box{
  min-width: 325px;
  width: 30%;
  height: 200px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.home_tenth_info_box h3{
  font-size: 30px;
  color: #C0335D;
}
.home_tenth_info_box p{
  text-align: center;
  font-size: 20px;
  color: #445189;
}
@media screen and (max-width: 950px) {
  .home_tenth{
    padding: 20px;
  }
  .home_tenth_title p{
    font-size: 24px;
  }
}
/*End Home blade*/
/*Start Contact blade*/
.contact{
  width: 100%;
  margin: 0 0 40px 0;
}
.contact_first{
  width: 100%;
  position: relative;
}
.contact_first_img{
  width: 100%;
}
.contact_first_text{
  text-transform: uppercase;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 40%; */
          /* margin: -25px 0 0 -25px; */
  /* transform: translate(-25%, -50%); */
  /* font-size: 60px; */
  /* color:#FFF; */
  left: 0;
  margin-top: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  color: #ffff;
  font-size: 40px;
}
.contanier {
  padding: 20px 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.send_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.send_message form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.send_message_info {
  width: 100%;
}

.send_message_title {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  color: #445189;
  font-weight: 700;
}
.send_message_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.name_phone {
  max-width: 1000px;
  width: 100%;
  display: flex;
  gap: 30px;
}
.message {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.name_phone input,
.message textarea {
  width: 50%;
  height: 50px;
  background-image: linear-gradient(to right, #445189, #B99A9E);
  padding: 20px;
  color: #1a4c5b;
  font-size: 18px;
  border: none;
}
.message textarea::placeholder,
.message input::placeholder,
.name_phone input::placeholder {
  color:#ffff;

}
.message input{
  width: 100%;
  background-image: linear-gradient(to right, #445189, #B99A9E);
  padding: 20px;
  color: #1a4c5b;
  font-size: 18px;
  border: none;
}
.message textarea  {
  width: 100%;
  height: 200px;
}
.send_message_btn {
  display: flex;
  justify-content: center;
}
.send_message_btn button {
  border: none;
  height: 64px;
  width: 248px;
  background-image: linear-gradient(to right, #445189, #B99A9E);
  font-size: 18px;
  color: #ffff;
}
.send_message_btn button:hover {
  background-color: #1a4c5b;
}
.send_message_btn button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
@media screen and (max-width: 800px) {
  .name_phone {
    flex-direction: column;
  }
  .name_phone input {
    width: 100%;
  }
  .message {
    padding: 0;
  }
}
@media screen and (max-width: 900px) {
}


/*End Contact blade*/


