* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*start header*/
.header {
  height: 70px;
  width: 100%;
  background-image: linear-gradient(to right, #445189, #B99A9E);
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  padding: 0 70px 0 0;
  position: fixed;
    top: 0;
    z-index: 3;
}

.header_left {
width: 50%;
min-width: 190px;
height: 300px;
position: relative;
}
.header_left_background_img {
  object-fit:contain;
  width: 100%;
  margin-top: 68px;
}
.header_left_logo{ 
  position: absolute;
  top: 20px;
  left: 15%;
  width: 40%;
  min-width: 115px;
}

.header_right{
  width: 50%;
  display: flex;
  
}
.header_right_ul{
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
}
.header_right_li_a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.header_right_li_a:hover {
  
}
@media screen and (max-width: 768px) {
  .header {
    padding-right: 30px;
  }
  .header_right_li_a {
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .header_left_logo{ 
    left: 30px;
    top: 5px
  }
}
@media screen and (max-width: 400px) {
  .header_right_ul{
    justify-content:space-between;
  }

  .header {
    padding-right: 15px;
  }
  .header_right_ul{
    gap: 16px
  }
}
@media screen and (max-width: 350px) {
  .header_right_li_a {
    font-size: 11px;
  }
}
/*end header*/

/*start footer*/
.footer {
  width: 100%;
  height: 250px;
  position: relative;
  background-color: #FFFCF5;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size:cover;
  gap: 20px;
  overflow: hidden;
}
.footer_background_img1 {
position: relative;
left: -30%;
}
@media screen and (max-width: 920px) {
  .footer_background_img1 {
    width: 100%;
    height: 280px;
    left: 1px;
  }
}
.footer_block {
  position: absolute;
  top: 20px;
  left: 6%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}
.footer_left_logo {
  max-width: 200px;
  min-width: 100px;
  max-height: 120px;
  min-height: 40px; 
}
.footer_button {
  text-decoration: none;
  width: 150px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_button_text{
  font-size: 14px;
  font-weight: bold;
  color: #445189;
}
.copyright_box {
  padding-top: 3px;
  border-top: 2px solid white;
  align-self: flex-end;
}
.copyright_text {
  font-size: 12px;
  color: #445189
}
.footer_right_logo {
  position:absolute;
  bottom: 1px;
  right:1px;
  max-width: 212px;
  min-width: 100px;
  max-height: 600px;
  min-height: 40px; 
  z-index: 1;
}
/*end footer*/
/*Start Home blade*/

.home {
  width: 100%;
  height: 300px;
  background-color: white;
  overflow: hidden;
}


/*End Home blade*/
/*Start Contact blade*/
.contact{
  width: 100%;
  margin: 0 0 40px 0;
}
.contact_first{
  width: 100%;
  position: relative;

}
.contact_first_img{
  width: 100%;
}
.contact_first_text{
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 40%;
  /* margin: -25px 0 0 -25px; */
  transform: translate(-25%, -50%);
  font-size: 60px;
  color:#FFF;
}
.contanier {
  padding: 20px 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.send_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.send_message form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.send_message_info {
  width: 100%;
}

.send_message_title {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  color: #445189;
  font-weight: 700;
}
.send_message_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.name_phone {
  max-width: 1000px;
  width: 100%;
  display: flex;
  gap: 30px;
}
.message {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.name_phone input,
.message textarea {
  width: 50%;
  height: 50px;
  background-image: linear-gradient(to right, #445189, #B99A9E);
  padding: 20px;
  color: #1a4c5b;
  font-size: 18px;
  border: none;
}
.message textarea::placeholder,
.message input::placeholder,
.name_phone input::placeholder {
  color:#ffff;

}
.message input{
  width: 100%;
  background-image: linear-gradient(to right, #445189, #B99A9E);
  padding: 20px;
  color: #1a4c5b;
  font-size: 18px;
  border: none;
}
.message textarea  {
  width: 100%;
  height: 200px;
}
.send_message_btn {
  display: flex;
  justify-content: center;
}
.send_message_btn button {
  border: none;
  height: 64px;
  width: 248px;
  background-image: linear-gradient(to right, #445189, #B99A9E);
  font-size: 18px;
  color: #ffff;
}
.send_message_btn button:hover {
  background-color: #1a4c5b;
}
.send_message_btn button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
@media screen and (max-width: 800px) {
  .name_phone {
    flex-direction: column;
  }
  .name_phone input {
    width: 100%;
  }
  .message {
    padding: 0;
  }
}
@media screen and (max-width: 900px) {
}


/*End Contact blade*/


